.main{
  width: 1424px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
}

/* The bar around the professors drop down */
.profBar {
  align-items: center;
  margin: 10px;
}

/* Defines the box with the title and professors drop down */
.classHeader{
  text-align: center;
  margin: 10px 10px 30px;
  height: 100px;
}

/* Defines the name of the course in the course card */
.className{
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

/* Defines the box with the progress bars in the course card */
.courseBody{
  margin: 0px 10px 0px;
}

/* The box containing the grid of course cards */
.listView{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}

/* Defines the actual box of the class card */
.classBox{
  width: 300px;
  border-radius: 20px;
  border-width: 15px;
  float: left;
  position: left;
  margin: 10px;
  border-style: solid;
  background: #cecece;
}

/* The interesting progress bar */
.interestingBar {
  display: block;
  height: 4px;
  border-radius: 6px;
  }

/* The black bar behind the interesting progress bar */
.interestingBarBackground {
  display: block;
  height: 4px;
  border-radius: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #000000;  
}

/* The difficulty progress bar */
.difficultyBar {
  display: block;
  height: 4px;
  border-radius: 6px;
}

/* The black bar behind the difficulty progress bar */
.difficultyBarBackground{
  display: block;
  height: 4px;
  border-radius: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #000000;  
}

/* The time commitment progress bar */
.timecommitmentBar {
  display: block;
  height: 4px;
  border-radius: 6px;
}

/* The black bar behind the time commitment progress bar */
.timecommitmentBarBackground{
  display: block;
  height: 4px;
  border-radius: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #000000;  
}

/* The number showing the time commitment at the bottom of each card */
.timecommitmentBarNumber{
  text-align: right;
  margin-bottom: 10px;
}

.interesting{
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdowncontent a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
