.main{
  width: 1424px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
}

/* The bar around the professors drop down */
.profBar {
  align-items: center;
  margin: 10px;
}

/* Defines the box with the title and professors drop down */
.classHeader{
  text-align: center;
  margin: 10px 10px 30px;
  height: 100px;
  margin: 10px 10px 10px;
  height: 70px;
}
.courseTitle{
  text-align: center;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.reviewCourseTitle{
  text-align: center;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.detailedClassHeader{
  text-align: center;
  margin: 5px 5px 20px;
  height: 70px;
}

.nReviews{
  font-size: 15px;
  text-align: right;
}
/* Defines the name of the course in the course card */
.className{
  font-size: 20px;
}

/* Defines the box with the progress bars in the course card */
.courseBody{
  margin: 0px 5px 9px;
  height: 395px;
  overflow-y: auto;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.backCourseBody{
  margin: 0px 5px 9px;
  height: 395px;
  overflow-y: hidden;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

/* The box containing the grid of course cards */
.listView{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}

/* Defines the actual box of the class card */
.classBoxNoReview{
  width: 300px;
  border-radius: 20px;
  border-width: 10px;
  float: left;
  position: left;
  margin: 10px;
  border-style: solid;
  background: #cecece;
  border-color: #c6e4ff;
}

.classBoxHigh{
  width: 300px;
  border-radius: 20px;
  border-width: 10px;
  float: left;
  position: left;
  margin: 10px;
  border-style: solid;
  background: #cecece;
  border-color: #d8ffc7;
}

.classBoxMedium{
  width: 300px;
  border-radius: 20px;
  border-width: 10px;
  float: left;
  position: left;
  margin: 10px;
  border-style: solid;
  background: #cecece;
  border-color: #fffeb3;
}

.classBoxLow{
  width: 300px;
  border-radius: 20px;
  border-width: 10px;
  float: left;
  position: left;
  margin: 10px;
  border-style: solid;
  background: #cecece;
  border-color: #ffbaba;
}

.classBoxReview{
  width: 300px;
  border-radius: 20px;
  border-width: 10px;
  float: left;
  position: left;
  margin: 10px;
  border-style: solid;
  background: #cecece;
  border-color: #000000;
}

.detailedClassBox{
  width: 300px;
  float: left;
  position: left;
  margin: 10px;
  backface-visibility: inherit !important;
  -webkit-backface-visibility: inherit !important;
}


/* The rating display bar */
.ratingBar {
  display: block;
  height: 4px;
  border-radius: 6px;
}

/* The black bar behind the progress bars */
.BarBackground{
  display: block;
  height: 4px;
  border-radius: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #000000;
  margin-bottom: 20px;
}

/* The number showing the time commitment at the bottom of each card */
.timecommitmentBarNumber{
  text-align: right;
  margin: 0px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdowncontent a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Styling for Add review buttons */

.reviewBorderBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    border-radius: 7.5px;
    border-style: solid;
}

.backBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border-radius: 7.5px;
  border-style: none;
}

.detailBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  border-radius: 7.5px;
  float: right;
  border-style: solid;
}

.submitBtn {
  float: right;
}

.profBar {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}

.flippyBox{
  width: 300px;
  height: 530px;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 10px;
  box-sizing: unset;
}

.center {
  align-self: center !important;
  box-shadow: none !important;
}

.aspectSpacing {
  margin: 0;
}

.btnGroupSpacing{
  margin-bottom: 15px;
}

.clearButton{
  width: 90px;
  margin-right: 5px;
}

.centerH2{
  text-align: center;
}

.navBarTop{
  position: absolute;
  top: 0pt;
  left: 0pt;
  right: 0pt;
  z-index: auto;
}