.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.className{
  text-align: center;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 30px;
}

.courseBody{
  margin-left: 10px;
  margin-right: 10px;
}

.listView{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.classBox{
  width: 30%;
  border-radius: 10px;
  position: relative;
  background-color: #cecece;
  margin-right: 10px;
}

.interestingBar {
  display: block;
  height: 4px;
  border-radius: 6px;
  }

.interestingBarBackground {
  display: block;
  height: 4px;
  border-radius: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #000000;  
}

.difficultyBar {
  display: block;
  height: 4px;
  border-radius: 6px;
}

.difficultyBarBackground{
  display: block;
  height: 4px;
  border-radius: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #000000;  
}

.timecommitmentBar {
  display: block;
  height: 4px;
  border-radius: 6px;
}

.timecommitmentBarBackground{
  display: block;
  height: 4px;
  border-radius: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #000000;  
}

.timecommitmentBarNumber{
  text-align: right;
  margin-bottom: 10px;
}

.interesting{
}